.vaccination-details {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.button-container button {
  margin-right: 10px;
}
.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

